.container {
	margin: 0 auto;
	max-width: 1060px;
}

.headerline {
	font-family: "Nunito";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	color: #000000;
}

.rangeNew {
	margin-bottom: 70px;
	margin-top: 70px;
}

.headerline {
	margin-bottom: 30px;
	font-family: "Nunito", monospace;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	color: #000000;
}
.box {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}
.item {
	width: 250px;
	height: 104px;
	padding: 14px 14px 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #ffffff;
	box-shadow: 0px 6px 25px rgba(6, 5, 50, 0.05);
	border-radius: 10px;
}

.wrap {
	width: 76px;
	height: 76px;
	margin-left: 14px;
}

.img {
	display: block;
	width: 100%;
	height: 100%;
}

.info {
	flex-direction: column;
	gap: 40px;
}

.title {
	font-family: "Nunito";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #000000;
}

.price {
	font-family: "Nunito";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: #000000;
}
