.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.range {
    padding: 0 0 134px 0;
}

.cards__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.container {
    margin: 0 auto;
    max-width: 1060px;
}