.wrapper{
display: flex;

}
.status{
    border: seagreen 1px solid;
    display: flex;
}
.round {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #424242;
}