.sliders {
	padding: 0 0 70px 0;
}
.sliders__main {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 20px;
	box-shadow: 50px 55px 206px rgba(115, 121, 140, 0.2);
}

.carusel {
	display: grid;
	grid-auto-flow: column;
	scroll-behavior: auto;
	gap: 1.2rem;
	/* overflow-y: auto; */
	overscroll-behavior-x: contain;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
}
